<html>  
<head>  
    <title>upload</title>
    <style>
        body {
          background-color:#F08080;
        }
        .center {
             display: block;
            margin-left: auto;
            margin-right: auto;
              width: 50%;

        }
        </style>
      
</head>  
<body>  
    <h1 style="color:#8B0000;" align="center">MELANOMA DETECTION WEB APP</h1>
    <div align="center" style="background-color:red;color:white;padding:100px;">
            <img src="/static/images/Skin-Cancer-Awareness-Photo.jpg" width="120" height="220" class="center">
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        
        <input type="file" name="file" />
        
        </br></br>

        <input type = "submit" value="Upload">  
    </form>  
</div>
<p align="center">*This web app is for educational purpose only</p>
</body>  
</html>