<html>  
<head>  
<title>success</title>  
<style>
	body {
	  background-color:#F08080;
	}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  }
    </style>
</head>  
<body>  
<h1 align="center" style="color:#8B0000;">MELANOMA DETECTION WEB APP</h1>  
<div style="background-color:red;color:white;padding:100px;">
      <img src="/static/images/Skin-Cancer-Awareness-Photo.jpg" width="120" height="220" class="center">
        <h3 align="center">RESULT</h2>
        <h2 align="center" style="color: #8B0000">{{result}}</h3>
</div>
<p align="center">*This web app is for educational purpose only</p>

</body>  
</html> 